#about {
  padding: 100px 0 50px 0;
}

h5 {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  color: #555;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__me {
  flex: 0 0 50%;
}

.about__me img {
  max-width: 100%;
  height: auto;
}

.about__content {
  flex: 0 0 50%;
  padding: 0 20px;
}

h3 {
  font-size: 24px;
  color: orange;
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  color: #fff;
  line-height: 1.5;
}

@media screen and (max-width: 400px) {
  .container {
    flex-direction: column;
    gap: 0;
  }

  .about__me {
    flex: 1;
    margin-bottom: 20px;
  }

  .about__content {
    flex: 1;
  }
}

@media screen and (min-width: 401px) and (max-width: 768px) {
  .container {
    flex-direction: column; 
  }

  .about__me,
  .about__content {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
  
  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}
