* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: #212121;
}

:root{

    --transition: all 400ms ease;
}

li {
    list-style-type: none;
}

section{
    height: max-content;
}

section > h2, section > h5 {
    text-align: center;
    color: #fff;
}

section > h2 {
    color: orange;
    margin-bottom: 3rem;
}

    /* .btn {
        width: max-content;
        display: inline-block;
        color: black;
        padding: 0.75rem 1.2rem;
        border-radius: 0.4rem;
        cursor: pointer;
        border: 1px solid white;
        transition: var(--transition);
    }

    .btn:hover {
        background: var(--color-white);
        color: var(--color-bg);
        border-color: transparent;
    }

    .btn-primary {
        background: var(--color-primary);
        color: var(--color-bg);
    } */